{% extends 'base.html.twig' %}

{% block body %}
    <fieldset class="border p-5">
            <legend  class="">Inscription</legend>
            {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}

                <div class="form-group pt-5">
                    <button type="submit" class="btn btn-primary btn-block">Register!</button>
                </div>
            {{ form_end(form) }}
    </fieldset>
{% endblock %}