{% extends 'admin/base.html.twig' %}

{% block body %}
{{parent()}}
    <div class="col-md-6 mx-auto ">
        
        <h1 class="py-5 text-center">Détails Utilisateur</h1>
        <a href="{{url('admin.event.list')}} " class="btn btn-light mb-2"> << Retour</a>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Nom: {{ event.title}} </td>
                </tr>
                <tr>
                    <td>Date: {{ event.date|date("d/m/Y")}} </td>
                </tr>
                <tr>
                    <td>Description: {{event.description}} </td>
                </tr>
                
            </tbody>
        </table>
        
    </div>
     
{% endblock %}